* {
  margin: 0;
  padding: 0;

}

html, 
body {
  color: white;
  background-image: url(./images/background-image.jpeg);    
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: 1000;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.task-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*Logo */

.logo-container {
  width: 100%;
  margin: 0px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 80px;
  border-radius: 20px;
}

/* Task Lists */

.main-task-list {
  width: 600px;
  min-height: 450px;
  background-color: rgba(0, 49, 83, 0.8);
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}



/*Navbar*/

.navbar {
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: flex-end;
  padding: 1rem 2rem;
  background-color: transparent;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  gap: 1rem;  /* Espacio entre los botones */
}

.auth-buttons button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button {
  margin-right: 40px;
  margin-left: 10px;
  height: 30px;
  color: #ffffff; 
  font-weight: 800; 
  text-align: center;
  font-size: 18px;
  padding: 0px 10px;
  background-color: #003153;
  border-radius: 5px;
}

.input-box {
  margin: 0px 5px;
  border-radius: 5px;
}





